In [137]:
import pandas as pd

In [138]:
"""
Importando os dados de treinamento
"""

data = pd.read_csv('train.csv')
data.head(10)

,Unnamed: 0,NU_INSCRICAO,NU_ANO,CO_MUNICIPIO_RESIDENCIA,NO_MUNICIPIO_RESIDENCIA,CO_UF_RESIDENCIA,SG_UF_RESIDENCIA,NU_IDADE,TP_SEXO,TP_ESTADO_CIVIL,...,Q041,Q042,Q043,Q044,Q045,Q046,Q047,Q048,Q049,Q050
0,1,ed50e8aaa58e7a806c337585efee9ca41f1eb1ad,2016,4314902,Porto Alegre,43,RS,24,M,0.0,...,5.0,A,A,A,A,A,A,A,B,D
1,2,2c3acac4b33ec2b195d77e7c04a2d75727fad723,2016,2304707,Granja,23,CE,17,F,0.0,...,NaN,A,A,C,A,B,A,A,C,A
2,3,f4545f8ccb9ff5c8aad7d32951b3f251a26e6568,2016,2304400,Fortaleza,23,CE,21,F,0.0,...,NaN,A,A,A,A,C,A,A,B,A
3,4,3d6ec248fef899c414e77f82d5c6d2bffbeaf7fe,2016,3304557,Rio de Janeiro,33,RJ,25,F,0.0,...,5.0,C,A,A,A,A,D,A,A,A
4,5,bf896ac8d3ecadd6dba1dfbf50110afcbf5d3268,2016,1302603,Manaus,13,AM,28,M,0.0,...,NaN,A,A,A,A,A,A,A,A,A
5,6,a37c99ec251d4f6e8ddbeabadf1c87fdbfddc4d1,2016,2902005,Aracatu,29,BA,18,F,0.0,...,NaN,A,A,A,A,A,A,A,A,A
6,7,63b4e128e9ffe8ab27f5d093db1976ef4f353e0a,2016,5102637,Campo Novo do Parecis,51,MT,18,F,0.0,...,0.0,A,A,A,B,B,A,A,A,A
7,8,2eb189d4912f64b19d1967e8e84b6141aba18770,2016,4301602,Bagé,43,RS,18,F,0.0,...,NaN,C,A,A,A,A,D,A,A,A
8,9,5822cb43e0800429be2084b3f86a63aaa73fa66c,2016,2601904,Bezerros,26,PE,16,F,0.0,...,NaN,D,A,A,A,B,A,D,B,A
9,10,94f7e277f87cd58e10a45da4ad5dd168651cf3ef,2016,3152501,Pouso Alegre,31,MG,24,M,0.0,...,NaN,A,A,A,B,D,A,B,B,C

In [139]:
"""
Importando os dados de teste e salvando o id que será usado para submissão
"""

test = pd.read_csv('test.csv')
test_id = test['NU_INSCRICAO']
test.head(10)

,NU_INSCRICAO,CO_UF_RESIDENCIA,SG_UF_RESIDENCIA,NU_IDADE,TP_SEXO,TP_COR_RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,TP_ANO_CONCLUIU,TP_ESCOLA,...,NU_NOTA_COMP5,NU_NOTA_REDACAO,Q001,Q002,Q006,Q024,Q025,Q026,Q027,Q047
0,73ff9fcc02f0a99919906c942c2e1a1042cdcf98,41,PR,22,F,3,1,1,5,1,...,40.0,420.0,B,A,C,A,A,C,C,A
1,71a95f9f1b91a82c65ad94abbdf9f54e6066f968,21,MA,26,F,3,1,1,8,1,...,100.0,580.0,E,B,C,B,B,B,F,A
2,b38a03232f43b11c9d0788abaf060f7366053b6d,23,CE,21,M,1,1,2,0,2,...,80.0,320.0,E,E,D,B,B,A,NaN,A
3,70b682d9a3636be23f6120fa9d6b164eb3c6002d,15,PA,27,F,3,1,1,8,1,...,NaN,NaN,H,E,G,B,B,A,NaN,A
4,715494628a50142ce8cb17191cfe6d0f3cae0934,41,PR,18,M,1,1,2,0,2,...,0.0,320.0,D,H,H,C,B,A,NaN,A
5,e656d6bad65c93fb2880f1eba5037008c8e75774,43,RS,18,M,3,1,1,1,1,...,80.0,560.0,E,E,C,B,B,A,NaN,A
6,465cd2a6907fb37d9d8ad3c065f0e2dabdba9b13,35,SP,17,F,1,1,2,0,3,...,120.0,620.0,D,E,H,D,B,A,NaN,D
7,11539e86171bf07d3a36f09377d7f54ebcc8406a,23,CE,17,F,3,2,2,0,2,...,60.0,420.0,D,C,B,A,A,A,NaN,A
8,043c544a2104aa8a9849f1a703a08d37a2f16839,51,MT,18,F,3,1,2,0,2,...,160.0,740.0,B,D,C,A,A,B,D,A
9,76ba050e64ad100b856f0eaabd8f539d5c7dd185,15,PA,17,M,3,2,2,0,2,...,100.0,580.0,B,C,B,A,A,A,NaN,A

In [140]:
"""
Excluindo dos dados de treinamento as colunas que não estão no test.csv
"""

used_columns = test.columns.tolist()
used_columns.append('NU_NOTA_MT')

data = data[used_columns]

In [141]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13730 entries, 0 to 13729
Data columns (total 48 columns):
NU_INSCRICAO              13730 non-null object
CO_UF_RESIDENCIA          13730 non-null int64
SG_UF_RESIDENCIA          13730 non-null object
NU_IDADE                  13730 non-null int64
TP_SEXO                   13730 non-null object
TP_COR_RACA               13730 non-null int64
TP_NACIONALIDADE          13730 non-null int64
TP_ST_CONCLUSAO           13730 non-null int64
TP_ANO_CONCLUIU           13730 non-null int64
TP_ESCOLA                 13730 non-null int64
TP_ENSINO                 4282 non-null float64
IN_TREINEIRO              13730 non-null int64
TP_DEPENDENCIA_ADM_ESC    4282 non-null float64
IN_BAIXA_VISAO            13730 non-null int64
IN_CEGUEIRA               13730 non-null int64
IN_SURDEZ                 13730 non-null int64
IN_DISLEXIA               13730 non-null int64
IN_DISCALCULIA            13730 non-null int64
IN_SABATISTA              13730 non-null int64
IN_GESTANTE               13730 non-null int64
IN_IDOSO                  13730 non-null int64
TP_PRESENCA_CN            13730 non-null int64
TP_PRESENCA_CH            13730 non-null int64
TP_PRESENCA_LC            13730 non-null int64
CO_PROVA_CN               13730 non-null object
CO_PROVA_CH               13730 non-null object
CO_PROVA_LC               13730 non-null object
CO_PROVA_MT               13730 non-null object
NU_NOTA_CN                10341 non-null float64
NU_NOTA_CH                10341 non-null float64
NU_NOTA_LC                10133 non-null float64
TP_LINGUA                 13730 non-null int64
TP_STATUS_REDACAO         10133 non-null float64
NU_NOTA_COMP1             10133 non-null float64
NU_NOTA_COMP2             10133 non-null float64
NU_NOTA_COMP3             10133 non-null float64
NU_NOTA_COMP4             10133 non-null float64
NU_NOTA_COMP5             10133 non-null float64
NU_NOTA_REDACAO           10133 non-null float64
Q001                      13730 non-null object
Q002                      13730 non-null object
Q006                      13730 non-null object
Q024                      13730 non-null object
Q025                      13730 non-null object
Q026                      13730 non-null object
Q027                      6357 non-null object
Q047                      13730 non-null object
NU_NOTA_MT                10133 non-null float64
dtypes: float64(13), int64(20), object(15)
memory usage: 5.0+ MB

In [142]:
""" Excluindo itens referentes a códigos
"""

data.drop(columns=['NU_INSCRICAO', 'CO_UF_RESIDENCIA'], inplace=True)
test.drop(columns=['NU_INSCRICAO', 'CO_UF_RESIDENCIA'], inplace=True)
data.head(10)

,SG_UF_RESIDENCIA,NU_IDADE,TP_SEXO,TP_COR_RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,TP_ANO_CONCLUIU,TP_ESCOLA,TP_ENSINO,IN_TREINEIRO,...,NU_NOTA_REDACAO,Q001,Q002,Q006,Q024,Q025,Q026,Q027,Q047,NU_NOTA_MT
0,RS,24,M,1,1,1,4,1,NaN,0,...,520.0,D,D,C,A,A,C,H,A,399.4
1,CE,17,F,3,1,2,0,2,1.0,0,...,580.0,A,A,B,A,A,A,NaN,A,459.8
2,CE,21,F,3,1,3,0,1,NaN,0,...,NaN,D,D,C,A,A,A,NaN,A,NaN
3,RJ,25,F,0,1,1,9,1,NaN,0,...,NaN,H,E,E,C,B,C,F,D,NaN
4,AM,28,M,2,1,1,4,1,NaN,0,...,NaN,E,D,C,A,A,B,F,A,NaN
5,BA,18,F,1,1,1,1,1,NaN,0,...,620.0,E,E,C,B,B,A,NaN,A,364.5
6,MT,18,F,3,1,2,0,2,1.0,0,...,560.0,E,D,C,B,B,C,E,A,529.2
7,RS,18,F,1,1,1,1,1,NaN,0,...,620.0,G,F,L,B,B,A,NaN,D,566.7
8,PE,16,F,3,1,2,0,2,1.0,0,...,680.0,H,E,B,A,B,A,NaN,A,372.4
9,MG,24,M,4,2,4,0,1,NaN,0,...,NaN,H,E,G,B,B,B,H,A,NaN

In [143]:
"""
Dropando colunas com número de valores nulos maior que um dado limiar
"""

threshold = 0.6

data = data[data.columns[data.isnull().mean() < threshold]]
test = test[test.columns[test.isnull().mean() < threshold]]

In [144]:
"""
Dropando linhas com número de valores nulos maior que um dado limiar
"""

data = data.loc[data.isnull().mean(axis=1) < threshold]
test = test.loc[test.isnull().mean(axis=1) < threshold]

In [145]:
"""
Dropando colunas com variância muito baixa
"""

data.drop(columns=data.std()[data.std() < 0.2].index.values, inplace=True)
test.drop(columns=test.std()[test.std() < 0.2].index.values, inplace=True)

In [146]:
"""
Imputando dados faltantes com 0
"""

data.fillna(0, inplace=True)
test.fillna(0, inplace=True)

In [147]:
"""
Criando uma característica básica para discretização da idade
"""

data['GRUPO_IDADE'] = pd.cut(data['NU_IDADE'], bins=[0,21,30,100], labels=["Adolescente", "Jovem", "Adulto"])
test['GRUPO_IDADE'] = pd.cut(test['NU_IDADE'], bins=[0,21,30,100], labels=["Adolescente", "Jovem", "Adulto"])

In [148]:
data.head(10)

,SG_UF_RESIDENCIA,NU_IDADE,TP_SEXO,TP_COR_RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,TP_ANO_CONCLUIU,TP_ESCOLA,IN_TREINEIRO,TP_PRESENCA_CN,...,Q001,Q002,Q006,Q024,Q025,Q026,Q027,Q047,NU_NOTA_MT,GRUPO_IDADE
0,RS,24,M,1,1,1,4,1,0,1,...,D,D,C,A,A,C,H,A,399.4,Jovem
1,CE,17,F,3,1,2,0,2,0,1,...,A,A,B,A,A,A,0,A,459.8,Adolescente
2,CE,21,F,3,1,3,0,1,0,0,...,D,D,C,A,A,A,0,A,0.0,Adolescente
3,RJ,25,F,0,1,1,9,1,0,0,...,H,E,E,C,B,C,F,D,0.0,Jovem
4,AM,28,M,2,1,1,4,1,0,0,...,E,D,C,A,A,B,F,A,0.0,Jovem
5,BA,18,F,1,1,1,1,1,0,1,...,E,E,C,B,B,A,0,A,364.5,Adolescente
6,MT,18,F,3,1,2,0,2,0,1,...,E,D,C,B,B,C,E,A,529.2,Adolescente
7,RS,18,F,1,1,1,1,1,0,1,...,G,F,L,B,B,A,0,D,566.7,Adolescente
8,PE,16,F,3,1,2,0,2,0,1,...,H,E,B,A,B,A,0,A,372.4,Adolescente
9,MG,24,M,4,2,4,0,1,0,0,...,H,E,G,B,B,B,H,A,0.0,Jovem

In [149]:
"""
Analisando características mais correlacionadas com a label
"""

data.corr()['NU_NOTA_MT']

NU_IDADE            -0.240874
TP_COR_RACA         -0.070239
TP_NACIONALIDADE    -0.033130
TP_ST_CONCLUSAO      0.023736
TP_ANO_CONCLUIU     -0.191553
TP_ESCOLA            0.189084
IN_TREINEIRO         0.078804
TP_PRESENCA_CN       0.874764
TP_PRESENCA_CH       0.874764
TP_PRESENCA_LC       0.923641
NU_NOTA_CN           0.907039
NU_NOTA_CH           0.903608
NU_NOTA_LC           0.943954
TP_LINGUA           -0.111428
TP_STATUS_REDACAO    0.564273
NU_NOTA_COMP1        0.882746
NU_NOTA_COMP2        0.862709
NU_NOTA_COMP3        0.854946
NU_NOTA_COMP4        0.866827
NU_NOTA_COMP5        0.722275
NU_NOTA_REDACAO      0.875929
NU_NOTA_MT           1.000000
Name: NU_NOTA_MT, dtype: float64

In [150]:
"""
Criando característica de discretização das notas
"""

data['CATEGORIA_LC'] = pd.cut(data['NU_NOTA_LC'], bins=[0,400,600,1000], labels=["Baixa", "Regular", "Alta"])
data['CATEGORIA_CN'] = pd.cut(data['NU_NOTA_CN'], bins=[0,400,600,1000], labels=["Baixa", "Regular", "Alta"])
data['CATEGORIA_CH'] = pd.cut(data['NU_NOTA_CH'], bins=[0,400,600,1000], labels=["Baixa", "Regular", "Alta"])
data['CATEGORIA_REDACAO'] = pd.cut(data['NU_NOTA_REDACAO'], bins=[0,400,600,1000], labels=["Baixa", "Regular", "Alta"])

In [151]:
"""
Reproduzindo na base de teste
"""

test['CATEGORIA_LC'] = pd.cut(test['NU_NOTA_LC'], bins=[0,400,600,1000], labels=["Baixa", "Regular", "Alta"])
test['CATEGORIA_CN'] = pd.cut(test['NU_NOTA_CN'], bins=[0,400,600,1000], labels=["Baixa", "Regular", "Alta"])
test['CATEGORIA_CH'] = pd.cut(test['NU_NOTA_CH'], bins=[0,400,600,1000], labels=["Baixa", "Regular", "Alta"])
test['CATEGORIA_REDACAO'] = pd.cut(test['NU_NOTA_REDACAO'], bins=[0,400,600,1000], labels=["Baixa", "Regular", "Alta"])

In [152]:
"""
Criando uma nova variável baseando-me nas variáveis mais correlacionadas com o target
"""

data['MEAN_LC_CH_CN'] = data[['NU_NOTA_LC', 'NU_NOTA_CH', 'NU_NOTA_CN']].mean(axis=1)

In [153]:
"""
Reproduzindo na base de teste
"""

test['MEAN_LC_CH_CN'] = test[['NU_NOTA_LC', 'NU_NOTA_CH', 'NU_NOTA_CN']].mean(axis=1)

In [154]:
"""
Criando característica que representa se o estudante compareceu nos dois dias
"""

data['PRESENCA'] = (data['TP_PRESENCA_CN'].apply(int) + data['TP_PRESENCA_LC'].apply(int)) > 1

In [155]:
"""
Reproduzindo na base de teste
"""

test['PRESENCA'] = (test['TP_PRESENCA_CN'].apply(int) + test['TP_PRESENCA_LC'].apply(int)) > 1

In [156]:
"""
Fazendo imputação dos valores faltantes de colunas categóricas com o item que mais se repete (treino)
"""

remaining_columns_train = data.columns[data.isna().mean() > 0]

for column in remaining_columns_train:
    data[column].fillna(data[column].value_counts().idxmax(), inplace=True)

In [157]:
"""
Fazendo imputação dos valores faltantes de colunas categóricas com o item que mais se repete (teste)
"""

remaining_columns_test = test.columns[test.isna().mean() > 0]

for column in remaining_columns_test:
    test[column].fillna(test[column].value_counts().idxmax(), inplace=True)

In [159]:
"""
Separando colunas para aplicação da técnica de encoding
"""

encode = ['SG_UF_RESIDENCIA', 'TP_SEXO', 'CO_PROVA_CN', 'CO_PROVA_CH', 'CO_PROVA_LC', 'CO_PROVA_MT', 'Q001', 'Q002', 'Q006', 'Q024', 'Q025', 'Q026', 'Q027', 'Q047', 'GRUPO_IDADE', 'TP_ANO_CONCLUIU', 'TP_COR_RACA', 'TP_ESCOLA', 'TP_LINGUA', 'TP_NACIONALIDADE', 'TP_PRESENCA_CH', 'TP_PRESENCA_CN', 'TP_PRESENCA_LC', 'TP_STATUS_REDACAO', 'TP_ST_CONCLUSAO', 'IN_TREINEIRO', 'CATEGORIA_LC', 'CATEGORIA_CN', 'CATEGORIA_CH', 'CATEGORIA_REDACAO', 'PRESENCA']

set(data.columns) - set(encode)

{'MEAN_LC_CH_CN',
 'NU_IDADE',
 'NU_NOTA_CH',
 'NU_NOTA_CN',
 'NU_NOTA_COMP1',
 'NU_NOTA_COMP2',
 'NU_NOTA_COMP3',
 'NU_NOTA_COMP4',
 'NU_NOTA_COMP5',
 'NU_NOTA_LC',
 'NU_NOTA_MT',
 'NU_NOTA_REDACAO'}

In [160]:
"""
Criando pipeline básico para modularização do treinamento
"""

import category_encoders as ce

from sklearn.pipeline import Pipeline
from sklearn.ensemble import RandomForestRegressor
from xgboost import XGBRegressor

model = Pipeline([('encoder', ce.TargetEncoder(cols=encode)), 
                ('clf', XGBRegressor())])

model.fit(data.drop(columns=['NU_NOTA_MT']), data['NU_NOTA_MT'])

Pipeline(steps=[('encoder',
                 TargetEncoder(cols=['SG_UF_RESIDENCIA', 'TP_SEXO',
                                     'CO_PROVA_CN', 'CO_PROVA_CH',
                                     'CO_PROVA_LC', 'CO_PROVA_MT', 'Q001',
                                     'Q002', 'Q006', 'Q024', 'Q025', 'Q026',
                                     'Q027', 'Q047', 'GRUPO_IDADE',
                                     'TP_ANO_CONCLUIU', 'TP_COR_RACA',
                                     'TP_ESCOLA', 'TP_LINGUA',
                                     'TP_NACIONALIDADE', 'TP_PRESENCA_CH',
                                     'TP_PRESENCA_CN', 'TP_PRESENCA_LC',
                                     'TP_STATUS_REDACAO', 'T...
                              colsample_bytree=1, gamma=0, gpu_id=-1,
                              importance_type='gain',
                              interaction_constraints='',
                              learning_rate=0.300000012, max_delta_step=0,
                              max_depth=6, min_child_weight=1, missing=nan,
                              monotone_constraints='()', n_estimators=100,
                              n_jobs=0, num_parallel_tree=1, random_state=0,
                              reg_alpha=0, reg_lambda=1, scale_pos_weight=1,
                              subsample=1, tree_method='exact',
                              validate_parameters=1, verbosity=None))])

In [161]:
"""
Predizendo notas do csv de teste
"""

predictions = model.predict(test)
predictions

array([438.7329   , 446.60742  , 579.4708   , ..., 688.7492   ,
       428.96732  ,   0.9702829], dtype=float32)

In [162]:
"""
Preparando arquivo de submissão

Obs: valores muito baixos são convertidos para 0, já que não acontecem em notas reais
"""

submission = pd.DataFrame({'NU_INSCRICAO': test_id, 'NU_NOTA_MT': predictions})
submission['NU_NOTA_MT'] = submission['NU_NOTA_MT'].apply(lambda x: 0 if x < 100 else x)
submission.to_csv('answer.csv', index=False)