In [177]:
import pandas as pd

In [178]:
"""
Importando os dados de treinamento
"""

data = pd.read_csv('train.csv')
data.head(10)

,Unnamed: 0,NU_INSCRICAO,NU_ANO,CO_MUNICIPIO_RESIDENCIA,NO_MUNICIPIO_RESIDENCIA,CO_UF_RESIDENCIA,SG_UF_RESIDENCIA,NU_IDADE,TP_SEXO,TP_ESTADO_CIVIL,...,Q041,Q042,Q043,Q044,Q045,Q046,Q047,Q048,Q049,Q050
0,1,ed50e8aaa58e7a806c337585efee9ca41f1eb1ad,2016,4314902,Porto Alegre,43,RS,24,M,0.0,...,5.0,A,A,A,A,A,A,A,B,D
1,2,2c3acac4b33ec2b195d77e7c04a2d75727fad723,2016,2304707,Granja,23,CE,17,F,0.0,...,NaN,A,A,C,A,B,A,A,C,A
2,3,f4545f8ccb9ff5c8aad7d32951b3f251a26e6568,2016,2304400,Fortaleza,23,CE,21,F,0.0,...,NaN,A,A,A,A,C,A,A,B,A
3,4,3d6ec248fef899c414e77f82d5c6d2bffbeaf7fe,2016,3304557,Rio de Janeiro,33,RJ,25,F,0.0,...,5.0,C,A,A,A,A,D,A,A,A
4,5,bf896ac8d3ecadd6dba1dfbf50110afcbf5d3268,2016,1302603,Manaus,13,AM,28,M,0.0,...,NaN,A,A,A,A,A,A,A,A,A
5,6,a37c99ec251d4f6e8ddbeabadf1c87fdbfddc4d1,2016,2902005,Aracatu,29,BA,18,F,0.0,...,NaN,A,A,A,A,A,A,A,A,A
6,7,63b4e128e9ffe8ab27f5d093db1976ef4f353e0a,2016,5102637,Campo Novo do Parecis,51,MT,18,F,0.0,...,0.0,A,A,A,B,B,A,A,A,A
7,8,2eb189d4912f64b19d1967e8e84b6141aba18770,2016,4301602,Bagé,43,RS,18,F,0.0,...,NaN,C,A,A,A,A,D,A,A,A
8,9,5822cb43e0800429be2084b3f86a63aaa73fa66c,2016,2601904,Bezerros,26,PE,16,F,0.0,...,NaN,D,A,A,A,B,A,D,B,A
9,10,94f7e277f87cd58e10a45da4ad5dd168651cf3ef,2016,3152501,Pouso Alegre,31,MG,24,M,0.0,...,NaN,A,A,A,B,D,A,B,B,C

In [179]:
"""
Importando os dados de teste e salvando o id que será usado para submissão
"""

test = pd.read_csv('test.csv')
test_id = test['NU_INSCRICAO']
test.head(10)

,NU_INSCRICAO,CO_UF_RESIDENCIA,SG_UF_RESIDENCIA,NU_IDADE,TP_SEXO,TP_COR_RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,TP_ANO_CONCLUIU,TP_ESCOLA,...,NU_NOTA_COMP5,NU_NOTA_REDACAO,Q001,Q002,Q006,Q024,Q025,Q026,Q027,Q047
0,ba0cc30ba34e7a46764c09dfc38ed83d15828897,43,RS,19,F,1,1,1,3,1,...,NaN,NaN,E,E,H,B,B,C,D,A
1,177f281c68fa032aedbd842a745da68490926cd2,15,PA,24,M,3,2,1,4,1,...,NaN,NaN,B,C,B,A,A,C,D,A
2,6cf0d8b97597d7625cdedc7bdb6c0f052286c334,29,BA,16,F,2,1,3,0,1,...,NaN,NaN,E,F,G,B,B,A,NaN,D
3,5c356d810fa57671402502cd0933e5601a2ebf1e,41,PR,17,F,1,1,2,0,2,...,40.0,480.0,E,E,E,C,B,B,C,A
4,df47c07bd881c2db3f38c6048bf77c132ad0ceb3,53,DF,19,F,1,1,1,1,1,...,80.0,720.0,E,E,E,B,B,B,D,A
5,3f28749fb79fb059caf5aed79625a5addfd7a91a,35,SP,18,F,1,1,2,0,2,...,80.0,480.0,C,C,C,B,B,A,NaN,A
6,bb2a0edddf3c59181a1496390aaaee7f32624d9d,31,MG,16,F,1,1,3,0,1,...,NaN,NaN,C,C,A,B,B,A,NaN,A
7,cc7cab347fe5455aae983f3701ca40f84dc01949,23,CE,18,M,3,1,2,0,2,...,80.0,560.0,D,E,C,B,B,A,NaN,A
8,95e9338f1da02f7bfa0e3194130afdccc0fb5457,51,MT,16,M,1,1,3,0,1,...,60.0,500.0,G,F,Q,B,B,A,NaN,D
9,155f84f2ee5b34e658f2adcc70f2ec83e37040cb,33,RJ,35,F,1,1,1,10,1,...,60.0,540.0,F,E,F,B,B,C,F,D

In [180]:
"""
Excluindo dos dados de treinamento as colunas que não estão no test.csv
"""

used_columns = test.columns.tolist()
used_columns.append('IN_TREINEIRO')

data = data[used_columns]

In [181]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13730 entries, 0 to 13729
Data columns (total 44 columns):
NU_INSCRICAO              13730 non-null object
CO_UF_RESIDENCIA          13730 non-null int64
SG_UF_RESIDENCIA          13730 non-null object
NU_IDADE                  13730 non-null int64
TP_SEXO                   13730 non-null object
TP_COR_RACA               13730 non-null int64
TP_NACIONALIDADE          13730 non-null int64
TP_ST_CONCLUSAO           13730 non-null int64
TP_ANO_CONCLUIU           13730 non-null int64
TP_ESCOLA                 13730 non-null int64
TP_ENSINO                 4282 non-null float64
TP_DEPENDENCIA_ADM_ESC    4282 non-null float64
IN_BAIXA_VISAO            13730 non-null int64
IN_CEGUEIRA               13730 non-null int64
IN_SURDEZ                 13730 non-null int64
IN_DISLEXIA               13730 non-null int64
IN_DISCALCULIA            13730 non-null int64
IN_SABATISTA              13730 non-null int64
IN_GESTANTE               13730 non-null int64
IN_IDOSO                  13730 non-null int64
TP_PRESENCA_CN            13730 non-null int64
TP_PRESENCA_CH            13730 non-null int64
TP_PRESENCA_LC            13730 non-null int64
TP_PRESENCA_MT            13730 non-null int64
NU_NOTA_CN                10341 non-null float64
NU_NOTA_CH                10341 non-null float64
NU_NOTA_LC                10133 non-null float64
TP_LINGUA                 13730 non-null int64
TP_STATUS_REDACAO         10133 non-null float64
NU_NOTA_COMP1             10133 non-null float64
NU_NOTA_COMP2             10133 non-null float64
NU_NOTA_COMP3             10133 non-null float64
NU_NOTA_COMP4             10133 non-null float64
NU_NOTA_COMP5             10133 non-null float64
NU_NOTA_REDACAO           10133 non-null float64
Q001                      13730 non-null object
Q002                      13730 non-null object
Q006                      13730 non-null object
Q024                      13730 non-null object
Q025                      13730 non-null object
Q026                      13730 non-null object
Q027                      6357 non-null object
Q047                      13730 non-null object
IN_TREINEIRO              13730 non-null int64
dtypes: float64(12), int64(21), object(11)
memory usage: 4.6+ MB

In [182]:
""" 
Excluindo itens referentes a códigos
"""

data.drop(columns=['NU_INSCRICAO', 'CO_UF_RESIDENCIA'], inplace=True)
test.drop(columns=['NU_INSCRICAO', 'CO_UF_RESIDENCIA'], inplace=True)
data.head(10)

,SG_UF_RESIDENCIA,NU_IDADE,TP_SEXO,TP_COR_RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,TP_ANO_CONCLUIU,TP_ESCOLA,TP_ENSINO,TP_DEPENDENCIA_ADM_ESC,...,NU_NOTA_REDACAO,Q001,Q002,Q006,Q024,Q025,Q026,Q027,Q047,IN_TREINEIRO
0,RS,24,M,1,1,1,4,1,NaN,NaN,...,520.0,D,D,C,A,A,C,H,A,0
1,CE,17,F,3,1,2,0,2,1.0,2.0,...,580.0,A,A,B,A,A,A,NaN,A,0
2,CE,21,F,3,1,3,0,1,NaN,NaN,...,NaN,D,D,C,A,A,A,NaN,A,0
3,RJ,25,F,0,1,1,9,1,NaN,NaN,...,NaN,H,E,E,C,B,C,F,D,0
4,AM,28,M,2,1,1,4,1,NaN,NaN,...,NaN,E,D,C,A,A,B,F,A,0
5,BA,18,F,1,1,1,1,1,NaN,NaN,...,620.0,E,E,C,B,B,A,NaN,A,0
6,MT,18,F,3,1,2,0,2,1.0,2.0,...,560.0,E,D,C,B,B,C,E,A,0
7,RS,18,F,1,1,1,1,1,NaN,NaN,...,620.0,G,F,L,B,B,A,NaN,D,0
8,PE,16,F,3,1,2,0,2,1.0,2.0,...,680.0,H,E,B,A,B,A,NaN,A,0
9,MG,24,M,4,2,4,0,1,NaN,NaN,...,NaN,H,E,G,B,B,B,H,A,0

In [183]:
"""
Dropando colunas com número de valores nulos maior que um dado limiar
"""

threshold = 0.6

data = data[data.columns[data.isnull().mean() < threshold]]
test = test[test.columns[test.isnull().mean() < threshold]]

In [184]:
"""
Dropando linhas com número de valores nulos maior que um dado limiar
"""

data = data.loc[data.isnull().mean(axis=1) < threshold]
test = test.loc[test.isnull().mean(axis=1) < threshold]

In [185]:
"""
Dropando colunas com variância muito baixa
"""

data.drop(columns=data.std()[data.std() < 0.2].index.values, inplace=True)
test.drop(columns=test.std()[test.std() < 0.2].index.values, inplace=True)

In [186]:
"""
Imputando dados faltantes com 0
"""

data.fillna(0, inplace=True)
test.fillna(0, inplace=True)

In [188]:
"""
Analisando características mais correlacionadas com a label
"""

data.corr()['IN_TREINEIRO']

NU_IDADE            -0.295091
TP_COR_RACA          0.009676
TP_NACIONALIDADE    -0.015179
TP_ST_CONCLUSAO      0.533983
TP_ANO_CONCLUIU     -0.257710
TP_ESCOLA           -0.244562
TP_PRESENCA_CN       0.094692
TP_PRESENCA_CH       0.094692
TP_PRESENCA_LC       0.092454
TP_PRESENCA_MT       0.092454
NU_NOTA_CN           0.080915
NU_NOTA_CH           0.078276
NU_NOTA_LC           0.083731
TP_LINGUA           -0.036395
TP_STATUS_REDACAO    0.063190
NU_NOTA_COMP1        0.080326
NU_NOTA_COMP2        0.069545
NU_NOTA_COMP3        0.064340
NU_NOTA_COMP4        0.068862
NU_NOTA_COMP5        0.045809
NU_NOTA_REDACAO      0.069119
IN_TREINEIRO         1.000000
Name: IN_TREINEIRO, dtype: float64

In [189]:
"""
Fazendo imputação dos valores faltantes de colunas categóricas com o item que mais se repete (treino)
"""

remaining_columns_train = data.columns[data.isna().mean() > 0]

for column in remaining_columns_train:
    data[column].fillna(data[column].value_counts().idxmax(), inplace=True)

In [190]:
"""
Fazendo imputação dos valores faltantes de colunas categóricas com o item que mais se repete (teste)
"""

remaining_columns_test = test.columns[test.isna().mean() > 0]

for column in remaining_columns_test:
    test[column].fillna(test[column].value_counts().idxmax(), inplace=True)

In [191]:
"""
Aparentemente poucas características tem umas relação com o fato do aluno ser treineiro ou não, que são informações relacionadas à sua idade e se já concluiu o ensino médio. Dessa forma, serão utilizadas essas características
"""

encode = ['NU_IDADE', 'TP_ST_CONCLUSAO', 'TP_ANO_CONCLUIU']

In [192]:
"""
Selecionando as colunas que serão utilizadas para treinamento
"""

X_train = data[encode]
y_train = data['IN_TREINEIRO']
X_test = test[encode]

In [193]:
"""
Criando pipeline básico para modularização do treinamento
"""

import category_encoders as ce

from sklearn.pipeline import Pipeline
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier

model = Pipeline([('encoder', ce.JamesSteinEncoder(cols=encode)), 
                ('clf', XGBClassifier())])
                
model.fit(X_train, y_train)

Pipeline(steps=[('encoder',
                 JamesSteinEncoder(cols=['NU_IDADE', 'TP_ST_CONCLUSAO',
                                         'TP_ANO_CONCLUIU'])),
                ('clf',
                 XGBClassifier(base_score=0.5, booster='gbtree',
                               colsample_bylevel=1, colsample_bynode=1,
                               colsample_bytree=1, gamma=0, gpu_id=-1,
                               importance_type='gain',
                               interaction_constraints='',
                               learning_rate=0.300000012, max_delta_step=0,
                               max_depth=6, min_child_weight=1, missing=nan,
                               monotone_constraints='()', n_estimators=100,
                               n_jobs=0, num_parallel_tree=1, random_state=0,
                               reg_alpha=0, reg_lambda=1, scale_pos_weight=1,
                               subsample=1, tree_method='exact',
                               validate_parameters=1, verbosity=None))])

In [194]:
"""
Predizendo notas do csv de teste
"""

predictions = model.predict(X_test)
predictions

array([0, 0, 1, ..., 0, 0, 0])

In [195]:
"""
Preparando arquivo de submissão
"""

submission = pd.DataFrame({'NU_INSCRICAO': test_id, 'IN_TREINEIRO': predictions})
submission.to_csv('answer.csv', index=False)